# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
django>=3.2
# matplotlib>=3.4
requests>=2.26
# scikit-learn>=0.24
gunicorn
django-heroku
whitenoise
psycopg2-binary
dj-database-url
bokeh